.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.form-group {
  z-index: -1;
}

.bookinglist {
  background: white;
}

.speaker-container {
  position: absolute;
  max-width: 800px;
  margin: 0 auto;
}

.speaker-container .content {
  position: relative;
  bottom: 80px;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.8); /*Transparency of black background*/
  color: #ffffff;
  width: 100%;
  padding: 0%;
}

 .column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
} 

.App-link {
  color: #61dafb;
}

